*.pyc
*.pyo
*.token
client_secret.json
**/*~
**/*.pyc
**/*.pyo
**/venv
**/marker/base/
**/marker/outputs/
**/marker/results/
**/marker/summary/
**/moss/results/
**/submissions/
**/usernames/
utils/*.pyo
utils/*.pyc




